<div class="card">
    <div class="card-header bg-primary text-white"> {{product?.description}} </div>
    <div class="card-block p-3 text-center"> <img [src]="product?.imageUrl" alt="">
        <div>Price: {{ product?.price | currency:'EUR':'symbol' }}</div>
        <div>Available since: {{ product?.available | date:'dd/MM/y' }}</div>
        <div>
            <app-star-rating *ngIf="product" [rating]="product.rating" (ratingChanged)="changeRating($event)">
            </app-star-rating>
        </div>
        <div> 
            <button type="button" class="btn btn-default" (click)="goBack()"> Volver </button> 
            <button type="button" class="btn btn-default ml-4" (click)="edit()"> Editar producto </button>
        </div>
    </div>
</div>